@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7__float__text {
  width: 225px;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;

}

.q7__float__text:first-child {
  margin-left: 0;
}

.q7__table {
  display: table;
}

.q7__table__cell {
  width: 225px;
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.q7__table__cell:first-child {
  padding: 0;
}

.q7__inline {
  font-size: 0;
}

.q7__inline__block {
  width: 225px;
  font-size: 16px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7__inline__block:first-child {
  margin-left: 0;
}

.q7__flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7__flex__cell {
  width: 225px;
  box-sizing: border-box;
}

.q7__5 {
  font-size: 0;
}

.inline__left {
  font-size: 16px;
  vertical-align: top;
  width: 300px;
  display: inline-block;
}

.inline__right {
  font-size: 16px;
  vertical-align: top;
  width: 100%;
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
