@charset "UTF-8";

/* 回答はここに書いてね */
.q9__text {
  width: 500px;
  margin: 0 auto;
  border: 5px solid #222;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
}
.q9__text::before {
  position: absolute;
  bottom: -38px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid white;
  z-index: 2;
  content: "";
}
.q9__text::after {
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #222;
  z-index: 1;
  content: "";
}
/* 回答はここに書いてね */
