@charset "UTF-8";

/* 回答はここに書いてね */
.q5__content {
  width: 500px;
  height: 500px;
  background-color: #eff3f4;
  margin: 0 auto;
  position: relative;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  width: 100px;
  height: 100px;
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  line-height: 100px;
}
.one {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
}
.two {
  top: 120px;
  left: 280px;
  background-color: #7084de;
}
.three {
  top: 200px;
  left: 360px;
  background-color: #d0ecea;
  z-index: 3;
}
.four {
  top: 280px;
  left: 280px;
  background-color: #8f7a5e;
  z-index: 4;
}
.five {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 5;
}
.six {
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  z-index: 6;
}
.seven {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 7;
}
.eight {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 8;
  position: relative;
}
.eight::after {
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  content: "";
  position: absolute;
  left: 80px;
}
.nine {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}
/* 回答はここに書いてね */
